body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

form input, form button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

a {
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}